.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.form,
.filter {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

input,
textarea,
select {
  padding: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
}

button {
  margin-right: 5px;
  cursor: pointer;
}

.detail {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

.note-column {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.buttonXoa{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: red;
  color: white;
  padding: 6px;
  border-radius: 8px;
  border: 1px solid black;

}
.buttonXoa:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.5s;
    border: 1px solid red;

}

.button{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: greenyellow;
  padding: 6px;
  border-radius: 8px;
  border: 1px solid black;
}
.button:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.5s;
  border: 1px solid greenyellow;
}

.button1{
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: green;
  padding: 4px;
  border-radius: 8px;
  border: 1px solid black;
  margin-left: 10px;
}
.button1:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.5s;
  border: 1px solid green;
}
.bg{
  background-color: aqua;
}